services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_PASSWORD: samsungMac
      POSTGRES_DB: cooperative
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: